
/* Stylowanie strony Miniprojekt */

/* Reguły ogólne CSS */

:root {
  --adswidth: 200px;
  /* --adswidth: 0; */

  --textON: visible;
  /* --textON: hidden; */
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* img {
  min-width: 30%;
  max-width: 100%;
  height: auto;
} */

.movie {
  width: 100%;
  height: 500px;
}

#container {
  background-color: lightgrey;
  max-width: 1210px;
  border: 5px dotted brown;
  box-shadow: 0 0 40px darkgray;
  margin: 0 auto;
}

/* Stylowanie headera czyli logo oraz menu */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

nav > ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-size: 18px;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  /* border: 5px solid black; */
}

nav ul li a:hover {
  background-color: black;
  color: whitesmoke;
  /* border: 5px solid whitesmoke; */
}

/* Slider */

.slider {
  display: flex;
  background-color: red;
  max-height: 150px;
}

.slider div {
  height: 150px;
  width: calc(100% - var(--adswidth));
}

.slider div img {
  width: 1200px;
  height: 150px;
}

.ads1 {
  width: var(--adswidth);
  height: 150px;
  background-image: url("https://unsplash.it/500/500?image=143");
  display: flex;
}

.ads1 div {
  align-items: center;
  justify-content: center;
  width: var(--adswidth);

}

.ads1 div p {
  visibility: var(--textON);
}


.ads1 > img {
  width: 100%;
  height: 100%;
}

/* Main */
main {
  display: flex;
  border-top: 3px dotted black;
}

main div {
  display: flex;
  width: calc(100% - var(--adswidth));
}

article {
  width: 70%;
  padding: 20px;
}

article > img {
  padding-left: 20px;
  padding-right: 40px;
  border: 5px solid black;
}

aside {
  width: 30%;
  padding: 20px;
  background-color: darkgrey;
  border-left: 3px dashed black;
}

.widget {
  margin-bottom: 50px;
}

.widget img {
  float: left;
  padding: 10px;
  border: 5px solid brown;
  margin: 0 10px 5px 0;
  width: 100px;
  height: 100px;
}

.links > ul {
  list-style-type: square;
  padding-left: 20px;
  margin: 0;
}

.links ul li {
  margin-bottom: 10px;
}

/* ads2 */
.ads2 {
  background-color: green;
  display: flex;
}

.ads2 div {
  align-items: center;
  justify-content: center;
  width: var(--adswidth);
}

.ads2 div p {
  writing-mode: vertical-rl;
  visibility: var(--textON);
}

/* footer */

footer {
  border-top: 3px dashed black;
  background-color: lightblue;
}

footer p {
  padding: 20px 0;
  text-shadow: 3px 3px darkgray;
  text-align: center;
  margin: 0;
}